/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

/* Animation */
@keyframes pulse {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.1);
  }
  100% {
    transform: scale(1);
  }
}

@keyframes bump {
  0% {
    top: 0;
  }
  5% {
    top: 3px;
  }
  10% {
    top: 0;
  }
  100% {
    top: 0;
  }
}

/* Main Body */

body {
  font-family: 'Raleway', sans-serif;
  background-color: #ffffff;
  position: relative;
  display: flex;
  flex-direction: column;
}

body.noscroll {
  overflow: hidden;
}

.navbar {
  display: flex;
  justify-content: flex-end;
  width: 100%;
  height: 50px;
  background-color: #a60000;
  position: fixed;
  z-index: 999;
  transition: all 0.4s ease-in-out;
}

.navbar__menu {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-right: 50px;
}

/* Hamburger Menu  */
/* $bar-height: 1px  */
/* $bar-width: 30px  */
/* $bar-spacing: 8px  */
.hamburger-menu {
  width: 30px;
  /* $bar-height + 2 * $bar-spacing  */
  height: 17px;
  cursor: pointer;
}

.bar,
.bar:after,
.bar:before {
  /* $bar-width  */
  width: 30px;
  /* $bar-height  */
  height: 1px;
}

.menu-checkbox {
  display: none;
}

.bar {
  display: block;
  position: relative;
  /* translateY($bar-spacing)  */
  transform: translateY(8px);
  background: rgba(255, 255, 255, 1);
  transition: all 0ms 300ms;
}

#menu-checkbox:checked ~ .navbar .hamburger-menu .bar {
  background: rgba(255, 255, 255, 0);
}

.bar:before {
  content: '';
  position: absolute;
  left: 0;
  /* $bar-spacing  */
  bottom: 8px;
  background: rgba(255, 255, 255, 1);
  transition: bottom 300ms 300ms cubic-bezier(0.23, 1, 0.32, 1),
    transform 300ms cubic-bezier(0.23, 1, 0.32, 1);
}

.bar:after {
  content: '';
  position: absolute;
  left: 0;
  /* $bar-spacing  */
  top: 8px;
  background: rgba(255, 255, 255, 1);
  transition: top 300ms 300ms cubic-bezier(0.23, 1, 0.32, 1),
    transform 300ms cubic-bezier(0.23, 1, 0.32, 1);
}

#menu-checkbox:checked ~ .navbar .hamburger-menu .bar:after {
  top: 0;
  transform: rotate(45deg);
  transition: top 300ms cubic-bezier(0.23, 1, 0.32, 1),
    transform 300ms 300ms cubic-bezier(0.23, 1, 0.32, 1);
}

#menu-checkbox:checked ~ .navbar .hamburger-menu .bar:before {
  bottom: 0;
  transform: rotate(-45deg);
  transition: bottom 300ms cubic-bezier(0.23, 1, 0.32, 1),
    transform 300ms 300ms cubic-bezier(0.23, 1, 0.32, 1);
}

/* End Hamburger Menu  */

/* Toggle Menu overlay  */

.menu-wrapper {
  display: none;
  flex-direction: column;
  align-items: flex-end;
  height: 700px;
  padding-top: 50px;
  padding-right: 50px;
  position: absolute;
  top: 50px;
  left: 0;
  right: 0;
  background-color: #a60000;
  opacity: 0;
  transition: display 0.6s ease-in-out;
}

#menu-checkbox:checked ~ .navbar .menu-wrapper {
  display: flex;
  opacity: 1;
  transition: display 0.6s ease-in-out;
  height: 100vh;
  overflow: hidden;
}

#menu-checkbox:checked ~ a > .introduction__signup-btn {
  display: none;
  overflow: auto;
}

.menu__title {
  width: 180px;
  height: 30px;
  margin-bottom: 20px;
  font-size: 14px;
  font-weight: bold;
  letter-spacing: 2px;
  color: rgba(255, 255, 255, 0.9);
  border-bottom: 1px solid rgba(255, 255, 255, 0.75);
}

.menu__icon-wrapper {
  width: 180px;
  display: flex;
  flex-direction: column;
}

.menu__icon-wrapper i {
  color: #ffffff;
  margin-bottom: 7px;
}

.menu__icon-wrapper a:last-child {
  margin-top: 50px;
}

.mobile__signup-btn {
  display: none;
}

.menu__logo {
  width: 180px;
}

/* End Toggle Menu overlay  */

.top {
  position: relative;
  z-index: 1;
  width: 100%;
  padding-top: 50px;
  padding-bottom: 30px;
  transition: all 1s ease-in-out;
  min-height: 700px;
}

.top:before {
  content: '';
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: 1;
  background-image: url('../images/top.png');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.top__body {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  z-index: 2;
  margin-bottom: 45px;
  color: #ffffff;
}

/* Additional styles while using photo as title */
.top__body-title {
  padding-top: 185px;
  width: 60%;
}

.top__body-h2 {
  margin-top: 200px;
  margin-bottom: 30px;
  font-size: 36px;
  letter-spacing: 6px;
}

.top__body-h1 {
  margin-bottom: 75px;
  font-size: 72px;
  letter-spacing: 12px;
}

.top__body-topic {
  font-size: 28px;
  letter-spacing: 8px;
}

.top__footer {
  display: flex;
  justify-content: space-between;
  position: relative;
  z-index: 2;
}

/* .top__footer-circle {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-left: 65px;
  width: 200px;
  height: 200px;
  border-radius: 100px;
  background-color: #a60000;
  color: #ffffff;
} */

.top__footer-circle {
  padding-left: 65px;
  padding-right: 65px;
  width: 200px;
  height: 200px;
}

.top__footer-year {
  font-size: 24px;
  letter-spacing: 5px;
}

.top__footer-date {
  font-size: 72px;
  letter-spacing: 5px;
}

.top__footer-sns {
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  margin-right: 65px;
}

.external__footer-sns {
  display: flex;
  justify-content: center;
  margin-top: 50px;
}

.facebook {
  height: 40px;
}

.youtube {
  margin-left: 20px;
  height: 40px;
}

.introduction {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.introduction-description {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  margin-bottom: 50px;
}

.introduction__content {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  padding-top: 60px;
  width: 70%;
}

.introduction__content > p {
  line-height: 2;
  font-size: 16px;
  margin-bottom: 10px;
}

.introduction__content > p:first-child {
  font-weight: bold;
  font-size: 20px;
  line-height: 4;
}

.introduction__signup-btn {
  display: flex;
  height: 136px;
  width: 136px;
  border-radius: 68px;
  /* margin-bottom: 125px; */
  background-color: #a60000;
  cursor: pointer;
  /* animation: bump 2s linear 0s infinite; */
  position: fixed;
  right: 50px;
  bottom: 50px;
  z-index: 999;
}

.introduction__signup-btn:hover,
.introduction__signup-btn:active {
  background-color: #b60000;
  /* animation: pulse 1s ease 0s infinite normal; */
  transform: scale(1.1);
  transition: all 0.3s ease 0s;
}

.introduction__signup-btn-text {
  margin: auto;
  font-size: 18px;
  font-weight: bold;
  letter-spacing: 3px;
  color: #ffffff;
}

/* Top Page signup button */
.top-page__signup-btn {
  display: none;
  height: 100px;
  width: 100px;
  border-radius: 50px;
  background-color: #a60000;
  cursor: pointer;
}

.top-page__signup-btn:hover,
.top-page__signup-btn:active {
  background-color: #b60000;
  transform: scale(1.1);
  transition: all 0.3s ease 0s;
}

.top-page__signup-btn-text {
  margin: auto;
  font-size: 12px;
  font-weight: bold;
  letter-spacing: 3px;
  color: #ffffff;
}
/* Schedule */

ul.main {
  max-width: 75%;
  margin: 20px auto 80px auto;
  display: flex;
}

.date {
  padding-top: 40px;
}

.date h3 {
  font-size: 20px;
}

.events {
  border-left: 1px solid #ccc;
  margin-left: 40px;
  padding-left: 40px;
  padding-top: 40px;
}

.events-detail {
  max-width: 700px;
}

.events-detail li {
  padding: 10px;
  border-bottom: 1px dashed #ccc;
  line-height: 22px;
  transition: ease 0.4s all;
  display: flex;
  align-items: center;
}

.time-wrapper {
  width: 144px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.icon-wrapper {
  display: flex;
  align-items: center;
  padding: 10px 10px 10px 0;
}

.title-icon-wrapper {
  width: 144px;
  display: flex;
  align-items: center;
  padding: 10px 0;
}

.events__title-wrapper .title-icon-wrapper:nth-child(2) {
  margin-left: 10px;
}

.taiwan-icon {
  width: 20px;
  height: 20px;
  position: relative;
}

.taiwan-icon:before {
  content: '';
  background-image: url('../images/icon_taiwan.png');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  width: 100%;
  height: 100%;
  position: absolute;
}

.japan-icon {
  width: 20px;
  height: 20px;
  position: relative;
}

.japan-icon:before {
  content: '';
  background-image: url('../images/icon_japan.png');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  width: 100%;
  height: 100%;
  position: absolute;
}

.icon-description {
  margin-right: 20px;
  padding-left: 5px;
}

/* Introduction Location */
.introduction__location-info {
  max-width: 70%;
  line-height: 1.4;
  margin-bottom: 50px;
}

.introduction__location-info-title {
  font-size: 18px;
  margin-bottom: 30px;
}

.introduction__location-highlight {
  color: #a60000;
  text-decoration: underline;
}

.introduction__location-info-first-paragraph {
  margin-bottom: 20px;
}

.introduction__location-open-time {
  display: flex;
  margin-bottom: 5px;
}

.introduction__location-open-time__title {
  width: 75px;
}

.introduction__location-open-time__text {
  margin-left: 5px;
}

.introduction__location-open-time__price > span {
  margin-right: 15px;
}

.introduction__semi-colon {
  margin-right: 5px;
}

.introduction__location-link {
  color: #09c;
}

.introduction__location-link:hover {
  text-decoration: underline;
  color: #09c;
}

.fb-section {
  display: flex;
  justify-content: center;
  margin-bottom: 80px;
}

.fb-page-plugin {
  display: flex;
  justify-content: center;
  margin-bottom: 80px;
}

/* .events-detail li:hover {
  background: #a60000;
  color: #ffffff;
} */

.event-time {
  margin-left: 10px;
  letter-spacing: 1.1px;
  font-size: 14px;
}

.event-name {
  display: flex;
  align-items: center;
  margin-left: 10px;
  width: 230px;
}

.events-detail li a {
  text-decoration: none;
  color: #444;
  width: 100%;
  height: 100%;
  display: block;
}

.event-location {
  color: #a60000;
  height: 50px;
  display: flex;
  align-items: center;
  letter-spacing: 1.1px;
  font-size: 14px;
  width: 210px;
}

.speaker-name {
  width: 75px;
}

.speaker-title {
  width: 140px;
}

/* Facebook share button */

#fbShareBtn {
  display: flex;
  justify-content: center;
}

#fbShareBtn .fb-xfbml-parse-ignore {
  font-size: 24px;
}

/* End of Schedule */

/* Column */
.column {
  display: flex;
  flex-direction: column;
  padding-top: 75px;
  padding-bottom: 90px;
  align-items: center;
  background-color: #dddddd;
  width: 100%;
  transition: all 0.4s ease-in-out;
}

.column__title {
  padding-bottom: 40px;
  /* font-size: 36px;
  font-weight: bold;
  letter-spacing: 6px; */
  height: 35px;
}

.column__tab-container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 360px;
  height: 45px;
}

.column__tab-item {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100px;
  height: 30px;
  font-size: 12px;
  letter-spacing: 1.5px;
  background-color: #9a9a9a;
  color: #ffffff;
  cursor: pointer;
}

.column__tab-item:hover {
  background-color: #a60000;
}

.column-content__container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  /* max-width: 100%; */
  max-width: 1200px;
}

.column-content__item {
  display: flex;
  flex-direction: column;
  padding: 25px;
  margin-bottom: 20px;
  width: 350px;
  height: 450px;
  box-sizing: border-box;
  background-color: #ffffff;
  cursor: pointer;
  transition: all 0.3s;
}

.column-content__item:hover {
  border: 2px solid #a60000;
}

.column-content__container a:nth-child(3n-1) {
  margin-left: 20px;
  margin-right: 20px;
}

.column-content__image {
  height: 250px;
  margin-bottom: 20px;
  position: relative;
}

.column-content__image:before {
  content: '';
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  width: 100%;
  height: 100%;
  position: absolute;
}

#column_1_pic:before {
  background-image: url('../images/event_3.jpg');
}

#column_2_pic:before {
  background-image: url('../images/event_4.jpg');
}

#column_3_pic:before {
  background-image: url('../images/event_5.jpg');
}

#column_4_pic:before {
  background-image: url('../images/event_7.png');
}

#column_5_pic:before {
  background-image: url('../images/event_6.jpg');
}

#column_6_pic:before {
  background-image: url('../images/event_8.jpg');
}

.column-content__label {
  background-color: #c2c2c2;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #4a4a4a;
  width: 85px;
  padding-top: 5px;
  padding-bottom: 5px;
  margin-bottom: 20px;
  font-size: 13px;
}

.column-content__summary-text {
  font-size: 18px;
  letter-spacing: 3px;
  line-height: 1.6;
  font-weight: bold;
  color: #4a4a4a;
  margin-bottom: 20px;
  height: 50px;
}

.column__summary-date {
  color: #a60000;
  padding-bottom: 5px;
  font-weight: bold;
  font-style: italic;
  font-size: 14px;
  letter-spacing: 1px;
}

/* Speaker section styles */

.speaker-content__item {
  display: flex;
  flex-direction: column;
  padding: 25px;
  margin-bottom: 20px;
  width: 350px;
  box-sizing: border-box;
  background-color: #ffffff;
  cursor: pointer;
  transition: all 0.3s;
}

.speaker-content__item:hover {
  border: 2px solid #a60000;
}
.speaker-content__item:nth-child(3n-1) {
  margin-left: 20px;
  margin-right: 20px;
}

.speaker-content__image {
  width: 100%;
  margin-bottom: 20px;
}

.speaker-content__label {
  background-color: #c2c2c2;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #4a4a4a;
  width: 85px;
  padding-top: 5px;
  padding-bottom: 5px;
  margin-bottom: 20px;
  font-size: 13px;
}

.speaker-content__summary-text {
  font-size: 18px;
  letter-spacing: 3px;
  line-height: 1.6;
  font-weight: bold;
  color: #4a4a4a;
  height: 30px;
}

.speaker__summary-date {
  color: #a60000;
  padding-bottom: 5px;
  font-weight: bold;
  font-style: italic;
  font-size: 14px;
  letter-spacing: 1px;
}

.speaker_section-comingSoon {
  font-size: 36px;
  font-style: italic;
}

/* Team */

.team {
  /* display: flex; */
  /* justify-content: center; */
  position: relative;
  padding-top: 75px;
}

.team__about {
  /* position: absolute; */
  /* margin-left: 50%; */
  /* transform: translateX(-50%); */
  display: flex;
  justify-content: center;
  font-size: 12px;
  /* z-index: 2; */
}

.team__about-description {
  max-width: 70%;
}

.team__about h2 {
  font-size: 18px;
  margin-bottom: 10px;
  font-weight: bold;
  line-height: 4;
}

.team__about p {
  font-size: 16px;
  margin-bottom: 10px;
  line-height: 1.5;
}

.team__poster-wrapper {
  width: 100%;
  min-height: 800px;
  position: relative;
}

.team__poster-wrapper:before {
  content: '';
  background-image: url('../images/member_all_trimming.png');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  width: 100%;
  height: 100%;
  position: absolute;
}

.team__poster {
  width: 100%;
}

.member {
  /* display: flex;
  flex-wrap: wrap; */
}

.member-item {
  display: inline-block;
  margin: 0;
  width: calc(100% / 6);
  padding-top: calc(100% / 6);
  position: relative;
  /* cursor: pointer; */
}

.member-item__image {
  position: absolute;
  top: 0;
  width: 100%;
}

/* .member-item:nth-child(n+1):hover {
  background-color: rgba(0,0,0,0.4);
} */

.member-item__title {
  /* font-size: 32px; */
  /* font-weight: 500; */
  /* letter-spacing: 2; */
  position: absolute;
  height: 35px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.member-item:nth-child(2n) {
  background-color: #eeeeee;
}

.member-item:nth-child(2n + 1) {
  background-color: #f8f8f8;
}

.member-item:nth-child(2n + 7) {
  background-color: #eeeeee;
}

.member-item:nth-child(2n + 8) {
  background-color: #f8f8f8;
}

.member-item:nth-child(1) {
  background-color: #a60000;
  color: #ffffff;
  display: inline-block;
}

/* Sponsor  */
.sponsor {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 125px;
  background-color: #ffffff;
}

.sponsor__header {
  padding-bottom: 20px;
}

.sponsor__title {
  margin-bottom: 60px;
  /* font-size: 48px;
  font-weight: bold;
  letter-spacing: 6px; */
  height: 35px;
}

.sponsor__subtitle {
  display: flex;
  justify-content: center;
  font-size: 14px;
  font-weight: bold;
  letter-spacing: 2px;
  text-align: center;
  margin-bottom: 70px;
}

.sponsor__logo {
  display: flex;
  justify-content: center;
  padding-bottom: 45px;
}

.sponsor__logo-img {
  height: 80px;
}

.alliance {
  display: flex;
  flex-wrap: wrap;
  position: relative;
  margin-bottom: 100px;
  max-width: 75%;
  justify-content: center;
}

.alliance a {
  display: flex;
  align-items: center;
  position: relative;
  cursor: pointer;
  margin-bottom: 30px;
}

/* .alliance a:hover .tooltiptext {
  visibility: visible;
} */

.alliance img {
  height: 75px;
  margin-left: 20px;
  margin-right: 20px;
}

img#cool_teenager {
  height: 150px;
}

.tooltiptext {
  visibility: hidden;
  width: 180px;
  background-color: #a60000cc;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px 2px;

  /* Position the tooltip */
  position: absolute;
  z-index: 1;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  transition: visibility 0s 0.1s;
}

.footer {
  height: 175px;
  background-color: #222222;
  display: flex;
  justify-content: center;
  align-items: center;
}

.wij-logo {
  height: 120px;
}

.facebook-footer {
  margin-right: 50px;
  position: absolute;
  right: 0;
}

/* Utilities */
.hidden {
  display: none;
}

.tab_selected {
  background-color: #a60000;
}

/* Modal */

.modal__member-box,
.modal__column-box,
.modal__speaker-box {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0, 0, 0); /* Fallback color */
  background-color: rgba(0, 0, 0, 0.4); /* Black w/ opacity */
}

/* Modal Content */
.modal__member-content,
.modal__column-content {
  box-sizing: border-box;
  background-color: #fefefe;
  margin: auto;
  width: 50%;
  overflow-y: scroll;
}

.modal__speaker-content {
  box-sizing: border-box;
  background-color: #fefefe;
  margin: 50px auto;
  width: 70%;
  height: calc(100% - 100px);
  overflow-y: scroll;
  position: relative;
}

.modal__speaker-content__top-part {
  padding: 75px;
}

.modal__speaker-content__close-btn {
  position: absolute;
  top: 20px;
  right: 20px;
  cursor: pointer;
  font-size: 20px;
  opacity: 0.5;
}

.modal__speaker-content__close-btn:hover {
  opacity: 1;
}

.modal__speaker-content__title {
  font-size: 36px;
  font-weight: bold;
  margin-bottom: 20px;
  letter-spacing: 3px;
}

.modal__speaker-content__subtitle {
  font-size: 20px;
  color: #a60000;
  margin-bottom: 60px;
  letter-spacing: 3px;
}

.modal__speaker-photo {
  width: 100%;
  margin-bottom: 45px;
}

.modal__speaker-content__introduction {
  line-height: 1.8;
  margin-bottom: 45px;
}

.modal__speaker-content__bottom-part {
  background-color: #dddddd;
  padding: 75px;
}

.modal__speaker-content__profile-title {
  text-align: center;
  font-size: 32px;
  letter-spacing: 3px;
  margin-bottom: 30px;
}

.modal__speaker-content__profile__detail-section {
  margin-bottom: 30px;
}

.modal__speaker-content__profile__red-title {
  font-size: 12px;
  color: #a60000;
  margin-bottom: 12px;
}

.modal__speaker-content__profile__description {
  font-size: 16px;
  line-height: 1.2;
}

.modal__header {
  display: flex;
  justify-content: space-between;
  margin-bottom: 30px;
}

.modal__header-title-box {
  box-sizing: border-box;
  letter-spacing: 4;
  line-height: 2;
  padding: 40px;
  width: 125px;
  height: 125px;
  background-color: #a60000;
  color: #ffffff;
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal__header-cancel-button__wrapper {
  margin-top: 15px;
  margin-right: 10px;
  width: 30px;
  /* $bar-height + 2 * $bar-spacing  */
  height: 17px;
  cursor: pointer;
}

.modal__header-cancel-button,
.modal__header-cancel-button:after,
.modal__header-cancel-button:before {
  /* $bar-width  */
  width: 30px;
  /* $bar-height  */
  height: 1px;
}

.modal__header-cancel-button {
  display: block;
  position: relative;
  transform: translateY(8px);
}

.modal__header-cancel-button:before {
  content: '';
  position: absolute;
  left: 0;
  /* $bar-spacing  */
  bottom: 0;
  transform: rotate(-45deg);
  background: #4a4a4a;
}

.modal__header-cancel-button:after {
  content: '';
  position: absolute;
  left: 0;
  /* $bar-spacing  */
  top: 0;
  transform: rotate(45deg);
  background: #4a4a4a;
}

.modal__column-article-content {
  margin-left: 50px;
  margin-right: 50px;
  padding-top: 20px;
  padding-bottom: 20px;
}

.modal__column-photo {
  width: 330px;
  height: 330px;
  float: left;
  margin-right: 20px;
  margin-bottom: 20px;
}

.modal__column-title {
  font-size: 32px;
  line-height: 1.5;
  margin-left: 50px;
  margin-right: 50px;
  margin-bottom: 30px;
  padding-bottom: 10px;
  border-bottom: 2px solid #a60000;
}

.modal__column-text {
  font-size: 16px;
  line-height: 3;
}

@media screen and (max-width: 1200px) {
  /* .speaker-content__item:nth-child(3n-1) {
		margin-left: 0;
		margin-right: 0;
	} */
  .speaker-content__item:nth-child(3n-1) {
    margin-left: 0;
    margin-right: 0;
  }
  .speaker-content__item:nth-child(2n) {
    margin-left: 20px;
    margin-right: 20px;
  }

  .column-content__container a:nth-child(3n-1) {
    margin-left: 0;
    margin-right: 0;
  }

  .column-content__container a:nth-child(2n) {
    margin-left: 20px;
    margin-right: 20px;
  }

  .event-time {
    letter-spacing: 0;
    font-size: 13px;
  }

  .event-name {
    font-size: 14px;
  }

  .event-location {
    font-size: 13px;
  }
}

/* Large screen */
@media screen and (max-width: 960px) {
  .top__body-h2 {
    font-size: 24px;
    letter-spacing: 6px;
  }
  .top__body-h1 {
    margin-bottom: 60px;
    font-size: 60px;
    letter-spacing: 8px;
  }
  .top__body-topic {
    font-size: 24px;
    letter-spacing: 6px;
  }

  .top__footer-circle {
    width: 150px;
    height: 150px;
  }
  .facebook {
    height: 30px;
  }
  .youtube {
    height: 30px;
  }
  .speaker__list-item:nth-child(3n-1) {
    margin: 0;
  }
  .speaker__list-item:nth-child(2n) {
    margin-left: 75px;
  }
  .member-item {
    width: calc(100% / 3);
    padding-top: calc(100% / 3);
  }

  .icon-wrapper {
    padding: 2px;
  }

  .event-name {
    font-size: 12px;
    width: 180px;
  }

  .event-location {
    font-size: 12px;
  }

  .event-time {
    font-size: 12px;
  }

  .events-detail li {
    font-size: 13px;
  }

  ul.main {
    max-width: 90%;
  }

  .events {
    margin-left: 15px;
    padding-left: 15px;
  }

  .events-detail {
    max-width: 100%;
  }

  .event-time {
    font-size: 14px;
  }

  .event-name {
    padding-top: 15px;
    width: auto;
    font-size: 13px;
  }

  .event-location {
    letter-spacing: 0;
    font-size: 12px;
    margin-left: 10px;
  }

  .events__title-wrapper {
    display: flex;
    flex-direction: column;
  }

  .events__title-wrapper .title-icon-wrapper:nth-child(2) {
    margin-left: 0;
  }

  .events__body-wrapper {
    flex-direction: column;
    align-items: flex-start;
  }
}

/* Medium screen */
@media screen and (max-width: 720px) {
  .top__body-h2 {
    margin-top: 150px;
    font-size: 20px;
    letter-spacing: 6px;
  }
  .top__body-h1 {
    margin-bottom: 45px;
    font-size: 42px;
    letter-spacing: 8px;
  }

  .top__body-topic {
    font-size: 18px;
    letter-spacing: 4px;
  }

  .top__footer {
    justify-content: center;
  }

  .top__footer-circle {
    width: 150px;
    height: 150px;
  }

  .top__footer-year {
    font-size: 18px;
    letter-spacing: 3px;
  }

  .top__footer-date {
    font-size: 48px;
    letter-spacing: 3px;
  }

  .top__footer-circle {
    width: 100px;
    height: 100px;
  }

  .speaker__list-item:nth-child(2n) {
    margin-left: 0;
  }

  .modal__member-content,
  .modal__column-content,
  .modal__close {
    width: 90%;
  }

  .wij-logo {
    height: 90px;
  }
}

/* Small screen */
@media screen and (max-width: 540px) {
  .navbar {
    height: 50px;
  }
  .navbar__menu {
    margin-right: 35px;
  }

  .menu-wrapper {
    top: 50px;
    padding-top: 50px;
    height: 450px;
  }

  .menu__icon-wrapper {
    width: 100px;
    flex-direction: row;
    justify-content: center;
  }

  .menu__icon-wrapper i {
    margin-right: 10px;
  }

  .mobile__signup-btn {
    display: flex;
    background-color: #ffffff;
    color: #a60000;
    height: 100px;
    width: 100px;
    border-radius: 50px;
    justify-content: center;
    align-items: center;
  }

  .mobile__signup-btn:hover {
    background-color: rgba(0, 0, 0, 0.2);
    color: white;
  }

  .mobile__signup-btn-text {
    font-size: 14px;
    letter-spacing: 1px;
  }

  .top-page__signup-btn {
    display: flex;
  }

  .menu__title {
    width: 100px;
    font-size: 18px;
    letter-spacing: 2px;
    display: flex;
    justify-content: center;
  }

  .menu__logo {
    display: none;
  }

  /* Hamburger Menu  */
  /* $bar-height: 1px  */
  /* $bar-width: 40px  */
  /* $bar-spacing: 8px  */
  .hamburger-menu {
    width: 25px;
    /* $bar-height + 2 * $bar-spacing  */
    height: 17px;
    cursor: pointer;
  }

  .bar,
  .bar:after,
  .bar:before {
    /* $bar-width  */
    width: 25px;
    /* $bar-height  */
    height: 1px;
  }

  .bar {
    /* translateY($bar-spacing)  */
    transform: translateY(8px);
  }

  .bar:before {
    /* $bar-spacing  */
    bottom: 8px;
  }

  .bar:after {
    /* $bar-spacing  */
    top: 8px;
  }

  /* End Hamburger Menu  */

  .introduction-description {
    margin-bottom: 20px;
  }

  .introduction__content > p:first-child {
    line-height: 1.5;
    padding-top: 50px;
    margin-bottom: 20px;
  }

  ul.main {
    margin-bottom: 75px;
  }

  .date h3 {
    font-size: 16px;
  }

  .icon-description {
    font-size: 12px;
    margin-left: 10px;
    margin-right: 0;
    padding: 0;
  }

  .team__poster-wrapper {
    min-height: 300px;
  }

  .team__poster-wrapper:before {
    height: 300px;
    background-size: contain;
  }

  .team__about {
    letter-spacing: 2px;
    margin-left: 20px;
    transform: none;
    padding-top: 30px;
  }

  .team__about p {
    font-size: 12px;
    line-height: 1.5;
  }

  .top {
    min-height: 0;
  }
  .top__body-title {
    padding-top: 100px;
  }
  .top__body-h2 {
    margin-top: 75px;
    font-size: 15px;
    letter-spacing: 3px;
  }
  .top__body-h1 {
    margin-bottom: 30px;
    font-size: 28px;
    letter-spacing: 2px;
  }

  .top__body-topic {
    font-size: 16px;
    letter-spacing: 1px;
  }

  .top__footer {
    display: flex;
    justify-content: center;
  }

  .top__footer-circle {
    width: 75px;
    height: 75px;
  }

  .top__footer-sns {
    display: none;
  }

  .external__footer-sns {
    display: flex;
    justify-content: center;
    margin-top: 10px;
  }

  .facebook {
    height: 25px;
  }

  .youtube {
    height: 25px;
  }

  .introduction__content > p {
    line-height: 2;
    font-size: 12px;
  }

  .introduction__signup-btn {
    height: 100px;
    width: 100px;
    border-radius: 50px;
    margin-bottom: 100px;
    display: none;
  }

  .introduction__signup-btn-text {
    font-size: 14px;
    letter-spacing: 1px;
  }

  .speaker__header {
    height: 150px;
  }

  .speaker__header-left {
    display: none;
  }

  .speaker__header-right {
    width: 100%;
  }

  .speaker__header-right-body > h3 {
    font-size: 28px;
    letter-spacing: 2px;
  }
  .speaker__header-right-body > span {
    font-size: 14px;
    letter-spacing: 1px;
  }

  .speaker-content__item:nth-child(2n) {
    margin-left: 0;
    margin-right: 0;
  }

  .speaker__list-item:nth-child(3n-1) {
    margin: 0;
  }

  .speaker__list-item:nth-child(n + 3) {
    display: none;
  }

  .speaker__summary-text {
    font-size: 18px;
    letter-spacing: 3px;
  }

  .speaker__list {
    padding-left: 20px;
    padding-right: 20px;
  }

  .speaker__list-item {
    width: 100%;
    height: 420px;
  }
  .speaker__view-more {
    width: 50%;
  }

  .column {
    padding-top: 50px;
  }

  .column__header {
    height: 150px;
  }

  .column__title {
    font-size: 36px;
    letter-spacing: 3px;
  }

  .column__tab-container {
    width: 350px;
  }

  .column__tab-item {
    width: 100px;
  }

  .column__list {
    padding-left: 20px;
    padding-right: 20px;
  }

  .column__list-item:nth-child(3n-1) {
    margin: 0;
  }

  .column__list-item:nth-child(n + 3) {
    display: none;
  }

  .column__summary-text {
    font-size: 18px;
    letter-spacing: 3px;
  }
  .column__list-item {
    width: 100%;
    height: 420px;
  }
  .column__view-more {
    width: 50%;
  }

  .modal__header-title-box {
    width: 100px;
    height: 50px;
    padding: 0;
    line-height: 0;
  }

  .modal__column-title {
    font-size: 20px;
    margin-left: 20px;
  }

  .modal__column-photo {
    width: 100%;
    height: auto;
  }

  .modal__column-text {
    margin-left: 20px;
    margin-right: 20px;
    font-size: 14px;
  }

  .modal__column-article-content {
    margin-left: 20px;
    margin-right: 20px;
  }
  .footer {
    height: 75px;
  }

  .modal__member-content,
  .modal__column-content,
  .modal__close {
    width: 90%;
    padding-bottom: 0;
  }

  #ytplayer {
    width: 100%;
  }

  .modal__member-text {
    width: auto;
    display: block;
    position: initial;
    height: auto;
  }

  .modal__member-photo {
    margin-right: 20px;
    margin-bottom: 20px;
    float: left;
    display: block;
  }

  .modal__member-link {
    position: initial;
    clear: both;
  }

  .wij-logo {
    height: 70px;
  }

  .member-item {
    width: calc(100% / 2);
    padding-top: calc(100% / 2);
  }

  .menu-wrapper {
    box-sizing: border-box;
    padding-top: 25px;
    padding-right: 0;
    align-items: center;
  }

  .alliance {
  }

  .alliance a {
    margin-bottom: 5px;
  }

  .alliance img {
    padding: 10px;
    margin: 0;
    height: 30px;
  }

  img#cool_teenager {
    height: 75px;
  }

  .shiaoshin-description {
    font-size: 10px;
  }

  .sponsor {
    padding-top: 75px;
  }

  /* Speaker Modal */
  .modal__speaker-content__top-part {
    padding: 75px 20px 20px 20px;
  }

  .modal__speaker-content__title {
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 20px;
    letter-spacing: 3px;
  }

  .modal__speaker-content__subtitle {
    font-size: 12px;
    color: #a60000;
    margin-bottom: 40px;
    letter-spacing: 1px;
  }

  .modal__speaker-photo {
    width: 100%;
    margin-bottom: 30px;
  }

  .modal__speaker-content__introduction {
    line-height: 1.8;
    margin-bottom: 30px;
    font-size: 12px;
  }

  .modal__speaker-content__bottom-part {
    background-color: #dddddd;
    padding: 75px 20px 20px 20px;
  }

  .modal__speaker-content__profile-title {
    text-align: center;
    font-size: 20px;
    letter-spacing: 1px;
    margin-bottom: 30px;
  }

  .modal__speaker-content__profile__detail-section {
    margin-bottom: 20px;
  }

  .modal__speaker-content__profile__red-title {
    font-size: 10px;
    color: #a60000;
    margin-bottom: 12px;
  }

  .modal__speaker-content__profile__description {
    font-size: 12px;
    line-height: 1.2;
  }
}
