/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

body {
  font-family: 'Raleway', sans-serif;
  background-color: #ffffff;
}

body.noscroll {
  overflow: hidden;
}

.navbar {
  display: flex;
  justify-content: flex-end;
  width: 100%;
  height: 50px;
  background-color: #a60000;
  position: relative;
  transition: all .4s ease-in-out;
}

.navbar__menu {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-right: 50px;
}

/* Hamburger Menu  */
/* $bar-height: 1px  */
/* $bar-width: 30px  */
/* $bar-spacing: 8px  */
.hamburger-menu {
  width: 30px;
  /* $bar-height + 2 * $bar-spacing  */
	height: 17px;
	cursor: pointer;
}

.bar,
.bar:after,
.bar:before {
  /* $bar-width  */
  width: 30px;
  /* $bar-height  */
	height: 1px;
}

.menu-checkbox {
  display: none;
}

.bar {
  display: block;
  position: relative;
  /* translateY($bar-spacing)  */
	transform: translateY(8px);
	background: rgba(255, 255, 255, 1);
	transition: all 0ms 300ms;
}

#menu-checkbox:checked ~ .navbar .hamburger-menu .bar {
  background: rgba(255, 255, 255, 0);
}

.bar:before {
	content: "";
	position: absolute;
  left: 0;
  /* $bar-spacing  */
	bottom: 8px;
	background: rgba(255, 255, 255, 1);
	transition: bottom 300ms 300ms cubic-bezier(0.23, 1, 0.32, 1), transform 300ms cubic-bezier(0.23, 1, 0.32, 1);
}

.bar:after {
	content: "";
	position: absolute;
  left: 0;
  /* $bar-spacing  */
	top: 8px;
	background: rgba(255, 255, 255, 1);
	transition: top 300ms 300ms cubic-bezier(0.23, 1, 0.32, 1), transform 300ms cubic-bezier(0.23, 1, 0.32, 1);
}

#menu-checkbox:checked ~ .navbar .hamburger-menu .bar:after {
  top: 0;
	transform: rotate(45deg);
	transition: top 300ms cubic-bezier(0.23, 1, 0.32, 1), transform 300ms 300ms cubic-bezier(0.23, 1, 0.32, 1);;
}


#menu-checkbox:checked ~ .navbar .hamburger-menu .bar:before {
  bottom: 0;
	transform: rotate(-45deg);
	transition: bottom 300ms cubic-bezier(0.23, 1, 0.32, 1), transform 300ms 300ms cubic-bezier(0.23, 1, 0.32, 1);;
}


/* End Hamburger Menu  */

/* Toggle Menu overlay  */

.menu-wrapper {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  height: 700px;
  padding-top: 100px;
  padding-right: 70px;
  position: absolute;
  top: 50px;
  left: 0;
  right: 0;
  z-index: 2;
  background-color: #a60000;
  opacity: 0;
  transition: opacity .6s ease-in-out;
}

 #menu-checkbox:checked ~ .navbar .menu-wrapper {
  opacity: 1;
  -webkit-transition: opacity .6s ease-in-out;
    -moz-transition: opacity .6s ease-in-out;
    -o-transition: opacity .6s ease-in-out;
    transition: opacity .6s ease-in-out;
}

.menu__title {
  width: 240px;
  height: 40px;
  margin-bottom: 20px;
  font-size: 20px;
  font-weight: bold;
  letter-spacing: 3px;
  color: rgba(255, 255, 255, 0.9);
  border-bottom: 1px solid rgba(255, 255, 255, 0.75);
}

.menu__icon-wrapper {
  width: 240px;
  display: flex;
  flex-direction: column;
}

.menu__icon-wrapper i {
  color: #ffffff;
  margin-bottom: 20px;
}

.menu__logo {
  height: 75px;
  background-image: url('../images/WIJ_logo3.png');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

/* End Toggle Menu overlay  */

.top {
  position: relative;
  z-index: 1;
  width: 100%;
  padding-bottom: 30px;
  transition: all 1s ease-in-out;
  min-height: 700px;
}

.top:before {
  content: '';
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: 1;
  background-image: url('../images/top.png');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.top__body {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  z-index: 2;
  margin-bottom: 45px;
  color: #ffffff;

}

/* Additional styles while using photo as title */
.top__body-title {
  padding-top: 185px;
  width: 60%;
}

.top__body-h2 {
  margin-top: 200px;
  margin-bottom: 30px;
  font-size: 36px;
  letter-spacing: 6px;
}

.top__body-h1 {
  margin-bottom: 75px;
  font-size: 72px;
  letter-spacing: 12px;
}

.top__body-topic {
  font-size: 28px;
  letter-spacing: 8px;
}

.top__footer {
  display: flex;
  justify-content: space-between;
  position: relative;
  z-index: 2;
}

/* .top__footer-circle {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-left: 65px;
  width: 200px;
  height: 200px;
  border-radius: 100px;
  background-color: #a60000;
  color: #ffffff;
} */

.top__footer-circle {
  padding-left: 65px;
  padding-right: 65px;
  width: 200px;
  height: 200px;
}

.top__footer-year {
  font-size: 24px;
  letter-spacing: 5px;
}

.top__footer-date {
  font-size: 72px;
  letter-spacing: 5px;
}

.top__footer-sns {
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  margin-right: 65px;
}

 .external__footer-sns {
  display: flex;
  justify-content: center;
  margin-top: 50px;
  margin-bottom: 30px;
}

.facebook {
  height: 40px;
}

.youtube {
  margin-left: 20px;
  height: 40px;
}

.introduction {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.introduction-description {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  margin-bottom: 75px;
}

.introduction__content {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  padding-top: 30px;
  font-weight: bold;
  letter-spacing: 3px;
  width: 70%;
}

.introduction__content > p {
  line-height: 4;
  font-size: 16px;
}

.introduction__signup-btn {
  display: flex;
  height: 136px;
  width: 136px;
  border-radius: 68px;
  margin-bottom: 125px;
  background-color: #a60000;
  cursor: pointer;
}

.introduction__signup-btn:hover, .introduction__signup-btn:active {
  background-color: #b60000;
}

.introduction__signup-btn-text {
  margin: auto;
  font-size: 18px;
  font-weight: bold;
  letter-spacing: 3px;
  color: #ffffff;
}

/* Column */
.column {
  display: flex;
  flex-direction: column;
  padding-top: 75px;
  padding-bottom: 90px;
  align-items: center;
  background-color: #eeeeee;
  width: 100%;
  transition: all .4s ease-in-out;
}

.column__title {
  padding-bottom: 20px;
  font-size: 48px;
  font-weight: bold;
  letter-spacing: 6px;
}

.column__tab-container {
  display: flex;
  justify-content: space-around;
  width: 430px;
  height: 45px;
}

.column__tab-item {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 125px;
  height: 40px;
  background-color: #9a9a9a;
  color: #ffffff;
  cursor: pointer;
}

.column__tab-item:hover {
  background-color: #a60000;
}

.column-content__container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  max-width: 1200px;
}

.column-content__item {
  display: flex;
  flex-direction: column;
  padding: 25px;
  margin-bottom: 20px;
  width: 350px;
  height: 450px;
  box-sizing: border-box;
  background-color: #ffffff;
  cursor: pointer;
}

.column-content__item:hover {
  border: 2px solid #a60000;
}

.column-content__item:nth-child(3n-1) {
  margin-left: 20px;
  margin-right: 20px;
}

.column-content__image {
  height: 250px;
  margin-bottom: 20px;
}

.column-content__label {
  background-color: #c2c2c2;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #4a4a4a;
  width: 85px;
  padding-top: 5px;
  padding-bottom: 5px;
  margin-bottom: 10px;
}

.column-content__summary-text {
  font-size: 18px;
  letter-spacing: 3px;
  line-height: 1.6;
  font-weight: bold;
  color: #4a4a4a;
  margin-bottom: 20px;
  height: 50px;
}

.column__summary-date {
  color: #a60000;
  padding-bottom: 5px;
  font-weight: bold;
  font-style: italic;
  font-size: 14px;
  letter-spacing: 1px;
}

/* Team */
.team__poster {
  width: 100%;
}

.member {
  /* display: flex;
  flex-wrap: wrap; */
}

.member-item {
  display: inline-block;
  margin: 0;
  width: calc(100% / 6);
  padding-top: calc(100% / 6);
  position: relative;
  margin-right: -4px;
  /* cursor: pointer; */
}

.member-item__image {
  position: absolute;
  top: 0;
  width: 100%;
}

/* .member-item:nth-child(n+1):hover {
  background-color: rgba(0,0,0,0.4);
} */

.member-item__title {
  font-size: 32px;
  font-weight: 500;
  letter-spacing: 2;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.member-item:nth-child(2n) {
  background-color: #eeeeee;
}

.member-item:nth-child(2n+1) {
  background-color: #f8f8f8;
}

.member-item:nth-child(2n+7) {
  background-color: #eeeeee;
}

.member-item:nth-child(2n+8) {
  background-color: #f8f8f8;
}

.member-item:nth-child(1) {
  background-color: #a60000;
  color: #ffffff;
  display: inline-block;
  margin-right: -4px;
}

/* Sponsor  */
.sponsor {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 400px;
  padding-top: 75px;
  padding-bottom: 90px;
  background-color: #ffffff;
}

.sponsor__header {
  padding-bottom: 65px;
}

.sponsor__title {
  padding-bottom: 20px;
  font-size: 48px;
  font-weight: bold;
  letter-spacing: 6px;
}

.sponsor__subtitle {
  display: flex;
  justify-content: center;
  font-size: 20px;
  font-weight: bold;
  letter-spacing: 3px;
  text-align: center;
}

.sponsor__logo {
  display: flex;
  justify-content: center;
  padding-bottom: 45px;
}

.sponsor__logo-img {
  height: 80px;
}

.alliance {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  width: 360px;
}

.alliance img {
  height: 100px;
}

.footer {
  height: 175px;
  background-color: #222222;
  display: flex;
  justify-content: center;
  align-items: center;
}

.wij-logo {

}

.facebook-footer {
  margin-right: 50px;
  position: absolute;
  right: 0;
}

/* Utilities */
.hidden {
  display: none;
}

.tab_selected {
  background-color: #a60000;
}

/* Modal */

.modal__member-box, .modal__column-box, .modal__speaker-box {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content */
.modal__member-content, .modal__column-content {
	box-sizing: border-box;
  background-color: #fefefe;
  margin: auto;
  width: 100%;
	height: 100%;
  overflow-y: scroll;
  padding-bottom: 50px;
}

.modal__header {
  display: flex;
  justify-content: space-between;
  margin-bottom: 30px;
}

.modal__header-title-box {
  box-sizing: border-box;
  letter-spacing: 4;
  line-height: 2;
  padding: 40px;
  width: 125px;
  height: 125px;
  background-color: #a60000;
  color: #ffffff;
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal__header-cancel-button__wrapper {
  margin-top: 15px;
  margin-right: 10px;
  width: 30px;
  /* $bar-height + 2 * $bar-spacing  */
	height: 17px;
	cursor: pointer;
}

.modal__header-cancel-button,
.modal__header-cancel-button:after,
.modal__header-cancel-button:before {
  /* $bar-width  */
  width: 30px;
  /* $bar-height  */
  height: 1px;
}

.modal__header-cancel-button {
  display: block;
  position: relative;
  transform: translateY(8px);
}

.modal__header-cancel-button:before {
  content: "";
	position: absolute;
  left: 0;
  /* $bar-spacing  */
	bottom: 0;
	transform: rotate(-45deg);
	background: #4a4a4a;
}

.modal__header-cancel-button:after {
  content: "";
	position: absolute;
  left: 0;
  /* $bar-spacing  */
	top: 0;
	transform: rotate(45deg);
	background: #4a4a4a;
}

.modal__member-photo {
  width: 200px;
  height: 200px;
  margin-right: 32px;
	display: inline-block;
	vertical-align: top;
}

.modal__member-text {
	height: 200px;
	position: relative;
	width: calc(100% - 256px);
	display: inline-block;
}

.modal__member-name {
	font-size: 24px;
  letter-spacing: 6px;
  line-height: 1.5;
	margin-bottom: 20px;
}

.modal__member-link {
	width: 50px;
	height:50px;
	border-radius: 4px;
	position: absolute;
	bottom: 0px;
	color: #000000;
}

.modal__close {
	width: 560px;
	padding-left: 40px;
	padding-right: 40px;
	margin-top: 20px;
	text-align: center;
  margin: auto;
}

.close-icon__wrapper {
  background-color: white;
	margin-top: 16px;
  cursor: pointer;
  transition: all 0.3s;
  display: flex;
  width: 50px;
  height: 50px;
  border-radius: 50px;
}


.modal__close-icon::before {
  margin: auto;
}

.modal__close-icon:hover {
  transform: scale(1.1);
}

.modal__column-article-content {
  margin-left: 50px;
  margin-right: 50px;
  padding-top: 20px;
  padding-bottom: 20px;
}

.modal__column-photo {
  width: 330px;
  height: 330px;
  float: left;
  margin-right: 20px;
  margin-bottom: 20px;
}

.modal__column-title {
	font-size: 32px;
  line-height: 1.5;
  margin-left: 50px;
  margin-right: 50px;
  margin-bottom: 30px;
  padding-bottom: 10px;
  border-bottom: 2px solid #a60000;
}

.modal__column-text {
	font-size: 16px;
  letter-spacing: 6px;
  line-height: 1.5;
}

.modal__speaker-content {
  background-color: #fefefe;
  margin: auto;
  width: 800px;
	max-height: 450px;
  overflow-y: scroll;
  border-radius: 4px;
}

/* Large screen */
@media screen and (max-width: 960px) {
  .top__body-h2 {
    font-size: 24px;
    letter-spacing: 6px;
  }
  .top__body-h1 {
    margin-bottom: 60px;
    font-size: 60px;
    letter-spacing: 8px;
  }
  .top__body-topic {
    font-size: 24px;
    letter-spacing: 6px;
  }

  .top__footer-circle {
    width: 150px;
    height: 150px;
  }
  .facebook {
    height: 30px;
  }
  .youtube {
    height: 30px;
  }
  .speaker__list-item:nth-child(3n-1) {
    margin: 0;
  }
  .speaker__list-item:nth-child(2n) {
    margin-left: 75px;
  }
  .member-item {
    width: calc(100% / 3);
    padding-top: calc(100% / 3);
  }
}

/* Medium screen */
@media screen and (max-width: 720px) {
  .top__body-h2 {
    margin-top: 150px;
    font-size: 20px;
    letter-spacing: 6px;
  }
  .top__body-h1 {
    margin-bottom: 45px;
    font-size: 42px;
    letter-spacing: 8px;
  }

  .top__body-topic {
    font-size: 18px;
    letter-spacing: 4px;
  }

  .top__footer {
    justify-content: center;
  }

  .top__footer-circle {
    width: 150px;
    height: 150px;
  }

  .top__footer-year {
    font-size: 18px;
    letter-spacing: 3px;
  }

  .top__footer-date {
    font-size: 48px;
    letter-spacing: 3px;
  }

  .top__footer-circle {
    width: 100px;
    height: 100px;
  }

  .speaker__list-item:nth-child(2n) {
    margin-left: 0;
  }

	.modal__member-content, .modal__column-content, .modal__close {
    width: 90%;
  }

  .wij-logo {
    height: 70px;
  }
}

/* Small screen */
@media screen and (max-width: 540px) {
  .navbar {
    height: 50px;
  }
  .navbar__menu {
    margin-right: 35px;
  }

  .menu-wrapper {
    top: 50px;
    padding-top: 50px;
    height: 450px;
  }

  .menu__icon-wrapper {
    width: 125px;
    flex-direction: row;
  }

  .menu__icon-wrapper i {
    margin-right: 10px;
  }

  .menu__title {
    width: 125px;
    font-size: 18px;
    letter-spacing: 2px;
  }

  .menu__logo {
    display: none;
  }

  /* Hamburger Menu  */
  /* $bar-height: 1px  */
  /* $bar-width: 40px  */
  /* $bar-spacing: 8px  */
  .hamburger-menu {
    width: 25px;
    /* $bar-height + 2 * $bar-spacing  */
    height: 17px;
    cursor: pointer;
  }

  .bar,
  .bar:after,
  .bar:before {
    /* $bar-width  */
    width: 25px;
    /* $bar-height  */
    height: 1px;
  }

  .bar {
    /* translateY($bar-spacing)  */
    transform: translateY(8px);
  }

  .bar:before {
    /* $bar-spacing  */
    bottom: 8px;
  }

  .bar:after {
    /* $bar-spacing  */
    top: 8px;
  }

  /* End Hamburger Menu  */

  .top {
    min-height: 0;
  }
  .top__body-title {
    padding-top: 125px;
  }
  .top__body-h2 {
    margin-top: 75px;
    font-size: 15px;
    letter-spacing: 3px;
  }
  .top__body-h1 {
    margin-bottom: 30px;
    font-size: 28px;
    letter-spacing: 2px;
  }

  .top__body-topic {
    font-size: 16px;
    letter-spacing: 1px;
  }

  .top__footer {
    display: flex;
    justify-content: center;
  }

  .top__footer-circle {
    width: 75px;
    height: 75px;
  }

  .top__footer-sns {
    display: none;
  }

  .external__footer-sns {
    display: flex;
    justify-content: center;
    margin-top: 10px;
  }

  .facebook {
    height: 25px;
  }

  .youtube {
    height: 25px;
  }

  .introduction__content > p {
    line-height: 2;
    font-size: 12px;
  }

  .introduction__signup-btn {
    height: 100px;
    width: 100px;
    border-radius: 50px;
    margin-bottom: 100px;
  }

  .introduction__signup-btn-text {
    font-size: 14px;
    letter-spacing: 1px;
  }

  .speaker__header {
    height: 150px;
  }

  .speaker__header-left {
    display: none;
  }

  .speaker__header-right {
    width: 100%;
  }

  .speaker__header-right-body > h3 {
    font-size: 28px;
    letter-spacing: 2px;
  }
  .speaker__header-right-body > span {
    font-size: 14px;
    letter-spacing: 1px;
  }

  .speaker__list-item:nth-child(3n-1) {
    margin: 0;
  }

  .speaker__list-item:nth-child(n+3) {
    display: none;
  }

  .speaker__summary-text {
    font-size: 18px;
    letter-spacing: 3px;
  }

  .speaker__list {
    padding-left: 20px;
    padding-right: 20px;
  }

  .speaker__list-item {
    width: 100%;
    height: 420px;
  }
  .speaker__view-more {
    width: 50%;
  }

  .column {
    padding-top: 50px;
  }

  .column__header {
    height: 150px;
  }

  .column__title {
    font-size: 36px;
    letter-spacing: 3px;
  }

  .column__tab-container {
    width: 350px;
  }

  .column__tab-item {
    width: 100px;
  }

  .column__list {
    padding-left: 20px;
    padding-right: 20px;
  }

  .column__list-item:nth-child(3n-1) {
    margin: 0;
  }

  .column__list-item:nth-child(n+3) {
    display: none;
  }

  .column__summary-text {
    font-size: 18px;
    letter-spacing: 3px;
  }
  .column__list-item {
    width: 100%;
    height: 420px;
  }
  .column__view-more {
    width: 50%;
  }

  .modal__header-title-box {
    width: 100px;
    height: 50px;
    padding: 0;
    line-height: 0;
  }

  .modal__column-title {
    font-size: 20px;
    margin-left: 20px;
  }

  .modal__column-photo {
    width: 100%;
    height: auto;
  }

  .modal__column-text {
    margin-left: 20px;
    margin-right: 20px;
    font-size: 14px;
  }

  .modal__column-article-content {
    margin-left: 20px;
    margin-right: 20px;
  }
  .footer {
    height: 75px;
  }

	.modal__member-content, .modal__column-content, .modal__close {
    width: 90%;
    padding-bottom: 0;
	}

	#ytplayer, .modal__speaker-content {
		width: 100%;
	}

	.modal__member-text {
		width: auto;
		display: block;
		position: initial;
		height: auto;
	}

	.modal__member-photo {
	  margin-right: 20px;
		margin-bottom: 20px;
		float: left;
		display: block;
	}

	.modal__member-link {
		position: initial;
		clear: both;
  }

  .wij-logo {
    height: 50px;
  }

  .member-item {
    width: calc(100% / 2);
    padding-top: calc(100% / 2);
  }

  .menu-wrapper {
    box-sizing: border-box;
    padding-top: 25px;
    padding-right: 0;
    align-items: center;
  }
}
